@font-face {
  font-family: 'ZoomlaYuan-A016';
  /* 逐浪圆体 */
  src: url('https://code.z01.com/font/ZoomlaYuan-A016.eot?#iefix');
  /* IE9 */
  src: url('https://code.z01.com/font/ZoomlaYuan-A016.eot?#iefix') format("embedded-opentype"),
    /* IE6-IE8 */
    url('https://code.z01.com/font/ZoomlaYuan-A016.woff') format("woff"),
    /* chrome、firefox */
    url('https://code.z01.com/font/ZoomlaYuan-A016.ttf') format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url('https://code.z01.com/font/ZoomlaYuan-A016.svg#ZoomlaYuan-A016') format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  font-family: ZoomlaYuan-A016;
  overflow: hidden;
  background-color: slategrey;
}



a {
  text-decoration: none;
  color: initial;
}


ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
