
.glass-module {
  display: none;
  position: absolute;
  top: 1.875rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  height: 3.125rem;
  border-radius: 0.3125rem;
  padding: 0.625rem 0.625rem;
}
.progress-text{
  text-align: center;
  font-size: 0.75rem;

}


.progress {
  width: 0;
  height: 0.3125rem;
  background-color: darkcyan;
  /* animation-name: progress;
  animation-duration: 5s; */
  /* animation-timing-function: linear; */
  transition: 0.05s;
}



/* @keyframes progress {
  0% {
    width: 0;
  }

  50%{
    width: 50%;
  }

  100% {
    width: 100%;
  }
} */


