.notify{
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 10;
}

.notify-text{
  padding: 0.266667rem 0.4rem;
  border-radius: 0.133333rem;
  font-size: 0.426667rem;
}